body{
	/*background-color:#b8bdc0;*/
	background-image:url(Bilder/kuscheltier.jpeg);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
	text-align: center;
}

h1{
	/*text-align:center;*/
	font-family: Gill Sans, sans-serif;
	font-size: 5vw;
	display:inline;
    color: white;
	background-color: #203B45;
	word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
	padding-left: 10px;
	padding-right: 10px;
}

form{
	background-color: #eeeeee;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 40px;
	padding-right: 40px;
}
input[type=checkbox]{
	-ms-transform: scale(3); /* IE */
	-moz-transform: scale(3); /* FF */
	-webkit-transform: scale(3); /* Safari and Chrome */
	-o-transform: scale(3); /* Opera */
	padding: 20px;
}
input[type=text]{
	height: 60px;
	font-size: 2vw;
	text-align: center;
}
input[type=time]{
	height: 60px;
	font-size: 2vw;
	text-align: center;
	text-align: center;
	padding-left: 46%;
}
input[type=number]{
	height: 60px;
	font-size: 2vw;
	text-align: center;
}
input[type=date]{
	height: 60px;
	font-size: 2vw;
	text-align: center;
	padding-left: 44%;
}
small{
	font-size: 18px;
}
/*Label nicht makierbar machen*/
label {
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
form:invalid {
	border: 10px solid #ffdddd;
}
form:valid {
	border: 10px solid #ddffdd;
}
input:required {
	border-width: 5px;
}
input:invalid {
	border-color: #ffdddd;
}
input:valid {
	border-color: #ddffdd;
}

.progress{
	height: 40px;
	margin-left: 20px;
	margin-right: 20px;
}
.progress-bar-text{
	font-size: 20px;
	margin-top: 8px;
}

.headlabel{
	font-family: Gill Sans, sans-serif;
	font-size: 2.5vw;
	text-decoration: underline;
}

.form-check-label{
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 10px;
	font-size: 1.5vw;
}

.logo {
	max-width: 40%;
	width: 60px;
	text-align: center;
	margin-top: 20px;
	margin-left: 40px;
	float: left;
}

.btn.btn-danger{
	font-size: 100%;
	border-radius: 10px;
}
.btn.btn-info{
	width: 60%;
	font-size: 3vw; /*Responsive Buttontext*/
	color: black;
	background: #A1DAF7;
	text-align: center;
	margin:0px auto;
	margin-top: 20px;
}


.alert{
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	font-size: 2.5vw;
}
.table {
	font-size: 250%;
	font-size: 2.5vw;
	background-color: white;
}
.tablehead{
	/*background-color: #A1DAF7;*/
	background-color: #203B45;
	color: white;
}
.table-responsive{
	width: calc(100% - 80px);
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 10px; 
    border: 1px solid gainsboro; 
    border-collapse: collapse; 
}
/*.table-wrapper-scroll-y {
	display: block;
	max-height: 400px;
	overflow-y: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}*/

.navbarOne {
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius:0px;
	height: 100px;
	background-color: #203B45;
}
.navbarOne a {
	text-align: center;  
	color: white;
	text-decoration: none;
	float: none;
	display:inline-block;
	line-height: 100px;
	height: 100px;
	font-size: 200%;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-right{
	margin-right: 30px;
	font-size: 200%;
}
.navbar-right a:hover{
	color: black;
}


.navbarTwo {
	width: 100%;
	margin-top: 0px;
	background-color: white;
	text-align: center;
	border-radius:0px;
	border:5px solid #000;
}
.navbarTwo a {
	text-align: center;  
	color: black;
	text-decoration: none;
	float: none;
	display:inline-block;
	line-height: 100px;
	height: 80px;
	font-size: 350%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
}
.navbarTwo a span {
	margin-left: 5px;
}
/* Navbar links on mouse-over */
.navbarTwo a:hover {
	background-color: #203B45;
	color: white;
	fill: white;
}
/*.navbarTwo a img {
	height: 40px;
}*/
.choosen{
	background-color: #A1DAF7;
}
.choosen span {
	/*color: black;*/
}

.breadcrumb{
	margin-top: -20px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius:0px;
	background-color: white;
}

.thumbnail {
	max-width: 40%;
	width: 150px;
	height: 150px;
	text-align: center;
	margin-right: 40px;
	margin-top: -140px;
	float: right;
}
/** LIGHTBOX MARKUP **/
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}


@media screen and (max-width: 1350px) {
	.table {
		font-size: 200%;
	}
}

@media screen and (max-width: 1200px) {
	.thumbnail {
		margin-top: 0px !important;
		float: none;
		margin: auto;
		text-align: center;
	}
}

@media screen and (max-width: 900px) {
	.table {
		font-size: 180%;
	}
}

@media screen and (max-width: 800px) {
	input[type=checkbox]{
		-ms-transform: scale(2); /* IE */
		-moz-transform: scale(2); /* FF */
		-webkit-transform: scale(2); /* Safari and Chrome */
		-o-transform: scale(2); /* Opera */
		padding: 10px;
	}
}

@media screen and (max-width: 700px) {
	.navbarTwo a {
		float: none;
		display: block;
		padding-top: 10px;
	}
	.navbarTwo a span {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.table {
		font-size: 150%;
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 500px) {
	.thumbnail {
		width: 100px;
		height: 100px;
	}
}